.theme-transition {
  * {
    
  }
}

.theme-toggle {
  background: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  
  
  &:hover {
    background-color: var(--color-primary);
    color: var(--bg-primary);
    transform: scale(1.1);
  }
  
  svg {
    width: 20px;
    height: 20px;
  }
}