@import '../../styles/variables.scss';

.layout {
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  
  
  &__container {
    position: relative;
    min-height: 100vh;
  }
  
  &__main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

